<nav class="navbar navbar-expand-lg sticky-top bg-danger mb-2">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white"
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      >Pokédex</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            List per Generation
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 1]">
                Gen I
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 2]">
                Gen II
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 3]">
                Gen III
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 4]">
                Gen IV
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 5]">
                Gen V
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 6]">
                Gen VI
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 7]">
                Gen VII
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 8]">
                Gen VIII
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['list/gen/', 9]">
                Gen IX
              </a>
            </li>
          </ul>
        </li>
        <li><a class="nav-link" [routerLink]="['/types']">Types</a></li>
        <li><a class="nav-link" [routerLink]="['/abilities']">Abilities</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
