<div class="container">
  <div
    id="displayDetails"
    *ngIf="pokemon"
    [ngClass]="pokemon.types.at(0)?.type?.name"
    class="rounded my-2"
  >
    <div>
      <!-- info -->
      <div class="row g-0 justify-content-center">
        <div class="row gx-2 py-1 text-center fw-bold">
          <div class="col-8 mt-2">
            <div class="p-2 bg-white rounded">
              <h5 class="m-0">
                {{ pokemon.name.replaceAll("-", " ") | titlecase }}
              </h5>
            </div>
          </div>
          <div class="col-4 mt-2">
            <div class="p-2 bg-white rounded">
              <h5 class="m-0">#{{ pokemon.id }}</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- sprites -->
      <div class="row g-0 justify-content-center">
        <div class="row gx-2 mb-2 py-1 text-center">
          <div class="col-6 mb-2">
            <div class="p-2 bg-white rounded">
              <figure>
                <img
                  style="width: 96px"
                  class="img img-fluid my-2"
                  src="{{
                    pokemon.sprites.front_default === null
                      ? 'https://cdn-icons-png.flaticon.com/512/8332/8332292.png'
                      : pokemon.sprites.front_default
                  }}"
                />
                <figcaption>Front</figcaption>
              </figure>
            </div>
          </div>
          <div class="col-6 mb-2">
            <div class="p-2 bg-white rounded">
              <figure>
                <img
                  style="width: 96px"
                  class="img img-fluid my-2"
                  src="{{
                    pokemon.sprites.back_default === null
                      ? 'https://cdn-icons-png.flaticon.com/512/8332/8332292.png'
                      : pokemon.sprites.back_default
                  }}"
                />
                <figcaption>Back</figcaption>
              </figure>
            </div>
          </div>
          <div class="col-6">
            <div class="p-2 bg-white rounded">
              <figure>
                <img
                  style="width: 96px"
                  class="img img-fluid my-2"
                  src="{{
                    pokemon.sprites.front_shiny === null
                      ? 'https://cdn-icons-png.flaticon.com/512/8332/8332292.png'
                      : pokemon.sprites.front_shiny
                  }}"
                />
                <figcaption>Front - Shiny</figcaption>
              </figure>
            </div>
          </div>
          <div class="col-6">
            <div class="p-2 bg-white rounded">
              <figure>
                <img
                  style="width: 96px"
                  class="img img-fluid my-2"
                  src="{{
                    pokemon.sprites.back_shiny === null
                      ? 'https://cdn-icons-png.flaticon.com/512/8332/8332292.png'
                      : pokemon.sprites.back_shiny
                  }}"
                />
                <figcaption>Back - Shiny</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <!-- types -->
      <div class="row g-0 px-2 justify-content-center">
        <div class="row gx-2 mb-2 bg-white text-center rounded">
          <span class="fw-bold">Types</span>
          <div class="col py-2" *ngFor="let type of pokemon.types">
            <div class="rounded p-2 text-center" [ngClass]="type.type.name">
              <a
                [routerLink]="['/types/', type.type.name]"
                class="text-decoration-none text-dark"
                >{{ type.type.name | uppercase }}</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- abilities -->
      <div class="row g-0 px-2 justify-content-center">
        <div class="row gx-2 mb-2 bg-white text-center rounded">
          <span class="fw-bold">Abilities</span>
          <div
            class="col-sm-12 col-md py-2 my-1"
            *ngFor="let ability of pokemon.abilities"
          >
            <div class="p-2 text-center">
              <a
                class="text-decoration-none text-danger"
                [routerLink]="['/abilities/', ability.ability.name]"
                >{{ ability.ability.name.replace("-", " ") | titlecase }}
              </a>
              <span *ngIf="ability.is_hidden"><small>(Hidden)</small></span>
            </div>
          </div>
        </div>
      </div>

      <!-- base experience -->
      <div class="row g-0 px-2 justify-content-center">
        <div class="row gx-2 mb-2 py-1 bg-white text-center rounded">
          <span class="fw-bold">Base experience</span>
          <div class="col py-2 text-center">
            {{ pokemon.base_experience }}
          </div>
        </div>
      </div>

      <!-- stats -->
      <div class="row g-0 px-2 justify-content-center">
        <div class="row gx-2 mb-2 py-1 bg-white text-center rounded">
          <span class="fw-bold">Base stats</span>
          <div
            class="col-lg-4 col-md-6 col-sm-12"
            *ngFor="let stat of pokemon.stats"
          >
            <div
              class="text-center rounded p-1 my-1"
              [ngClass]="stat.stat.name"
            >
              <h6 class="m-0 g-0 p-0">
                {{ stat.stat.name.replace("-", " ") | uppercase }}
              </h6>
              <p class="m-0 g-0 p-0">{{ stat.base_stat }}</p>
            </div>
          </div>
          <span class="fw-bold">Total: {{ totalStats }}</span>
        </div>
      </div>

      <div class="row g-0 px-2 justify-content-center">
        <div class="row gx-2 mb-2 py-1 text-center rounded">
          <div class="col d-grid">
            <button
              class="btn btn-dark btn-block text-white"
              (click)="previous(pokemon.id)"
            >
              Previous
            </button>
          </div>
          <div class="col d-grid">
            <button
              class="btn btn-dark btn-block text-white"
              (click)="next(pokemon.id)"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
